{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h2 class="my-4">Portfolio</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Current Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>{{ stock.price | usd }}</td>
                    <td>{{ stock.total_value | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Cash Balance: {{ cash | usd }}</h4>
    <h4>Grand Total: {{ grand_total | usd }}</h4>
{% endblock %}
